:root {
    --first-color: #f0f0f0;
    --secondary-color: #114b5f;
    --third-color: #1c2b3a;
    --fouth-color: #f45b69;
    --fith-color: #6b2737;
    --bg-color: #121212;
  }
  * {
    padding: 0;
    margin: 0;
  }
  html {
    font-family: 'Ropa Sans', sans-serif;
  }