body {
  background-color: var(--bg-color);
}
.mainContainer {
  color: white;
  display: flex;
  width: 80vw;

  margin: auto;
  gap: 1rem;
  position: relative;
  top: 5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  
}
.mainContainer div {
  background-color: var(--third-color);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 1);
  padding: 1rem;
  border-radius: 12px;
  
  font-size: 1.3rem;
}

.proifleBlock {
  min-width: 15rem;
  flex-basis: 47%;
  flex-grow: 2;
  height: 15rem;
}

.auditsBlock {
  flex-basis: 47%;
  min-width: 15rem;
  flex-grow: 2;
  height: 15rem;
}

.xpBlock {
  height: 15rem;
  flex-basis: 21.75%;
  flex-grow: 1;
}

.auditBlock {
  flex-basis: 21.75%;
  flex-grow: 1;
  height: 15rem;
}

.statsBlock {
  height: 500px;
  flex-basis: 47%;
  flex-grow: 1;
}
.gradeBlock{
  flex-basis: 21.75%;
  height: 15rem;
}